/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/** partie Header **/
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    margin-bottom: 20px;
}

.logohead {
    width: 50%;
    height: auto;
    margin-left: 3em;
    margin-top: 2em;
}

.headermenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.headermenu a {
    padding: 20px;
    border-top: solid 5px white;
}

.headermenu a:hover {
    color: var(--main-color);
    border-top: solid 5px var(--main-color);
}

/** Search & Filters **/
form {
    display: flex;
    flex-direction: row;
}

form label {
    background-color: lightgray;
    border-radius: 10px 0 0 10px;
    border-color: #0065FC;
    color: white;
    padding: 10px 15px 10px 15px;
}

i.fa-location-dot {
    color: black;
}

input#recherche {
    padding: 10px 15px 10px 15px;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    border-left: none;
    border-right: none;
    width: 100%;
}

.searchbar button {
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
}

.searchbar button:hover {
    cursor: pointer;
}

.searchbar button .fa-solid {
    display: none;
}

::placeholder {
    color: black;
    font-weight: bolder;
    opacity: 1;
}

.Filters {
    border: none;
}

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    font-weight: bold;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 1em;
    border: solid 2px lightgray;
    background: white;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.filter-text {
    margin-left: 10px;
}

.button-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters:hover {
    background: var(--filter-bg-color);
    cursor: pointer;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#info .le_i {
    border: solid 2px lightgrey;
    color: blue;
    font-family: inherit;
    border-radius: 70px;
    padding: 5px 12px 5px 12px;
    margin-right: 5px;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

main {
    margin: 3em;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 14px;
    margin-top: 5px;
}

.card-subtitle {
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
}

.hebergements-title {
    margin-top: 10px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    box-sizing: content-box;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.hebergements-cards .card img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** Section activités**/
.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.activites-title {
    padding-left: 15px;
}

.activites-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activites-card a {
    width: 20%;
}

.activites-card .card {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.activites-card .card-title {
    font-size: 12px;
    margin-left: 10px;
    height: 15%;
    border-bottom: 0;
    margin-bottom: 0;
}

.activites-card .card-title h3 {
    margin-block-start: 7%;
}

.activites-card .card img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-right: 3em;
    margin-left: 3em;
}

.footer-menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4 {
    margin: 0;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin: 10px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .headermenu {
        width: 50%;
    }

    .searchbar button .fa-solid {
        display: none;
    }

    .selectors {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        border: none;
        font-weight: bold;
        margin-top: 10px;
    }

    .button-filters {
        display: flex;
        flex-direction: row;
    }

    .filters {
        margin: 10px;
        background: white;
        border-radius: 30px;
        font-size: medium;
        font-weight: bold;
        color: black;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .activites-card .card {
        width: 100%;
        height: auto;
        height: 100%;
    }

    .activites-card .card img {
        width: 100%;
        height: 75%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 10px;
    }

    .activites-card .card-title {
        flex-wrap: wrap;
        overflow: hidden;
    }

    .activites-card .card-title h3 {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1440px;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .logohead {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .headermenu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .headermenu a {
        display: flex;
        border-bottom: solid 5px lightgray;
        justify-content: space-around;
        align-items: baseline;
        width: 50%;
        font-size: larger;
    }

    .headermenu a:hover {
        color: var(--main-color);
        border-top: solid 5px white;
        border-bottom: solid 5px var(--main-color);
    }

    .searchbar button .text {
        display: none;
    }

    .searchbar button {
        Border-radius: 10px;
        filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
        position: absolute;
        right: 25px;
        height: 40px;
    }

    .searchbar button .fa-solid {
        display: contents;
        color: white;
    }

    .selectors {
        width: 100%;
    }

    .filters {
        display: inline-block;
        width: 45%;
        /* Each button takes up almost half of the container's width */
        margin: 5px;
        /* Adds space between rows */
        padding: 10px 20px;
        /* Optional: button styling */
        box-sizing: border-box;
        font-size: 2.75vw;
        white-space: nowrap;
        /* Ensures padding is included in the width */
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: space-around;
        display: flex;
    }
    .card-title{
        font-size:2.5vw;
    }
    .card-subtitle{
        font-size:2vw;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 0;
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        justify-self: center;
    }

    main .hebergements-and-populaires {
        margin: 0;
        /* or any specific margin value */
    }

    .populaires {
        width: 100%;
        margin-bottom: 30px;
        background-size: cover;
        /* Ensure background covers the entire section */
        background-repeat: no-repeat;
        /* Prevent the background from repeating */
        background-position: center;
        /* Center the background image */
        border-radius: 0;
        /* Remove border radius */
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    .hebergements {
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
    }

    .hebergements a {
        width: 100%;
    }

    .populaires-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hebergements-cards .card {
        width: 100%;
    }


    footer {
        border: 0;
        margin: 0;
        width: 100%;
    }

    .activites-card {
        flex-direction: column;
        width: auto;
    }

    .activites-card a {
        width: 100%;
    }

    .activites-card .card {
        height: 345px;
        width: 100%;
    }

    .activites-card .card-title h3 {
        border: 0;
        margin: 0;
        padding: 0;
        padding-top: 2%;
        font-size:3vw;
    }

    .footer-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}